@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{font-family:'Montserrat';}
.light .welcome {
    background:
        radial-gradient(circle at top left, #888, #999, transparent 440px, transparent 140px),
        radial-gradient(circle at bottom right, #888, #999, transparent 340px, transparent 140px);
    background-color: #f4f5f6;
   
}

.dark .welcome {

    background:
        radial-gradient(circle at top left, #333, #222, transparent 440px, transparent 140px),
        radial-gradient(circle at bottom right, #333, #222, transparent 340px, transparent 140px);
    background-color: #111;
}

.welcome {
    background-repeat: no-repeat;
    width: 100vw;
    padding: 15rem 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;

}

.weltext {
    bottom: 0px;
}